/*  */

button{
  cursor: pointer;
}

.row {
  display: flex;
  width: 100%;
  margin: 10px;
}

.cell {
  margin: 0px 20px;
  cursor: pointer;
  width: 10px;
  height: 20px;
  border-radius: 5px;
  padding: 4px 8px;
  color: black;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: yellow;
}

.empty {
  background-color: gray;
}

.booked {
  background-color: green;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.screen{
  width: 70%;
  height: 1rem;
  margin: 2rem 0;
  border-radius: 20px;
  background-color: gray;
}

.seats{
  display: flex;
  flex-direction: column-reverse;
}