


@keyframes popup {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.overlay{
    animation: blurIn 0.2s ease-in 1;
}


@keyframes blurIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



.popups{
    animation: popup 0.5s ease-in 1;
}
